bin/
config/
builders/
**/organizations/peerOrganizations/
**/organizations/ordererOrganizations/
**/vars/
test-network/channel-artifacts/
test-network/system-genesis-block/

# --- Node.js Backend ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.pids
*.seed
*.pid.lock


# --- Go Chaincode ---
**/chaincode-go/vendor/
**/chaincode-go/build/
go.sum

# --- Wallet & Identity (SENSITIVE) ---
# This contains the private keys your app uses to talk to the ledger
wallet/
gateway/


# --- OS & IDE Clutter ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log